.list
    span:not(:last-child):after
        content: ","

.done
    float: right

table
    &.listing tbody tr
        cursor: pointer
    
        &.selected
            background: #FFFFD4 !important

    &.header
        tr
            td
                vertical-align: middle !important

            th
                line-height: 37px !important