.foundation
    h2
        font-size: 20px
        display: inline-block
        margin: 0

    table
        width: 100%

    .section
        padding: 10px

        &:nth-child(even)
            border: 1px solid #e6e6e6
            border-width: 1px 0

        header
            margin-bottom: 10px
            vertical-align: middle
            line-height: 37px

            .button
                margin-left: 10px
                float: right

    .summary
        dl.tabs
            dd
                a
                    text-transform: capitalize
                    cursor: pointer

    ul.inline
        list-style: none
        padding: 0

        li
            display: inline-block

            &:not(:last-child):after
                content: ", "