<div class="row collapse">
    <div class="small-3 columns">
        <span class="prefix">Search:</span>
    </div>
    <div class="small-9 columns">
        <input type="text" placeholder="micklem g">
    </div>
</div>

<div class="row collapse">
    <div class="small-12 columns">
        <table>
            <thead>
                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>