<div class="row collapse">
    <div class="small-2 columns">
        <span class="prefix">Search:</span>
    </div>
    <div class="small-10 columns">
        <app-search></app-search>
    </div>
</div>

<div class="row collapse">
    <div class="small-12 columns">
        <app-alert></app-alert>
    </div>
</div>

<div class="row collapse">
    <div class="small-12 columns">
        <app-table></app-table>
    </div>
</div>