.halfwidth {
	width: 50%;
	margin: 0 auto;
	padding: 15px;
}

body {
    background: #333;
}

.alert {
	position:absolute;
    z-index:1000000000;
    width: 50%;

}


.slideup {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
}
.slideup.ng-enter,
.slideup.ng-leave {
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}
.slideup.ng-enter {
    top: 100%;
}
.slideup.ng-enter-active {
    top: 0;
}
.slideup.ng-leave {
    top: 0;
}
.slideup.ng-leave-active {
    top: -100%;
}

.wrapper {
	padding-left: 15px;
	padding-right: 15px;
}

.stressed {
    font-weight: bold;
}