<nav class="ink-navigation">
    <ul class="breadcrumbs">
        <li><a>Start</a></li>
        <li><a>Level 1</a></li>
        <li><a>Level 2</a></li>
        <li class="current"><a>Current item</a></li>
    </ul>
</nav>