<div class="box">
    <h2><a href="{{ link null }}">ElasticMed</a></h2>
    <p>ElasticSearch through a collection of cancer related publications from PubMed. Use <kbd>Tab</kbd> to autocomplete or <kbd>Enter</kbd> to search.</p>
    <div class="content"></div>
</div>