<app>
    <div class="box">
        <h2><a href="{{ link null }}">ElasticMed</a></h2>
        <p>An example app searching through an example collection of cancer related publications.</p>
        <div class="page-content"></div>
    </div>
</app>