<app>
    <div class="box">
        <h2>ElasticMed</h2>
        <p>An example app searching a backend service.</p>
        <app-breadcrumbs></app-breadcrumbs>
        <app-search></app-search>
        <app-notification></app-notification>
        <app-results></app-results>
    </div>
</app>