<div class="row collapse">
    <div class="large-10 columns search">
        <input class="auto" type="text" placeholder="" value="{{ query.suggestion }}">
        <input class="text" type="text" placeholder="Query..." value="{{ query.current }}">
    </div>
    <div class="large-2 columns">
        <a class="button secondary postfix">
            <span class="fa fa-search"></span> Search
        </a>
    </div>
</div>
{{ #if query.history.length }}
<div class="row collapse">
    <h4>History</h4>
    <ul class="breadcrumbs">
    {{ #query.history }}
        <li><a>{{ . }}</a></li>
    {{ /query.history }}
</div>
{{ /if }}