<div class="row collapse">
    <div class="large-10 columns search">
        <input class="auto" type="text" placeholder="" value="{{ suggestion.value }}">
        <input class="text" type="text" placeholder="Query..." value="{{ query.value }}">
    </div>
    <div class="large-2 columns">
        <a class="button secondary postfix">
            <span class="fa fa-search"></span> Search
        </a>
    </div>
</div>