@import 'nib'

body
    padding: 20px

table
    width: 100%

    td
        .author
            &:not(:last-child)
                &:after
                    content: ", "
                    display: inline-block

        .label
            padding: 0 4px
            line-height: 16px

        &.title
            width: 40%

        &.nowrap
            white-space: nowrap