@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600);
/*@import url(http://fonts.googleapis.com/css?family=Wire+One);*/



/*******************
SELECTION STYLING
*******************/

::selection {
	color: #fff;
	background: #f676b2; /* Safari */
}
::-moz-selection {
	color: #fff;
	background: #f676b2; /* Firefox */
}

/*******************
BODY STYLING
*******************/

* {
	margin: 0;
	padding: 0;

	outline: none;
}

body {
	background-color: #3B3B3B;
	background: url('../images/ecailles.png');
	
	font-family: 'Open Sans', sans-serif;
	font-weight:300;
	text-align: left;
	text-decoration: none;
	height: 100%;
	width: 100%;

}

.expandable .content {
	display: none;
}

.expand {


	padding: 6px 0 6px 12px;
	margin-bottom: 1px;
	font-weight: bold;
		font-size: 12px;
}

.stats {
	padding-bottom: 40px;
}
.wrapper {
	/* Center wrapper perfectly */

	width: 100%;
	text-align: center;

}

.webfont {
	font-family: 'fontello';
}

/* Toolbar ************************************/
.toolbarTop {
	position: fixed;
	top: 0;
	background-image: url('../images/toolbar_stripe.png');
	background-repeat: both;
	width: 100%;
	height: 40px;
/*	-webkit-box-shadow: 0px 5px 17px -2px rgba(50, 50, 50, 0.3);
	-moz-box-shadow:    0px 5px 17px -2px rgba(50, 50, 50, 0.3);
	box-shadow:         0px 5px 17px -2px rgba(50, 50, 50, 0.3);*/
}

#left {
	width: 200px;
	float: left;
	height: 100%;
}

#right {
	margin-left: 231px;
/*	margin-right: 250px;*/
	vertical-align: top;
	height: 100%;
}

#clear {
	clear: both;
}

.off {
	color: #5a5a5a;
	font-weight: normal;
}

/*.off:not(.nohover):hover {
	color: #5a5a5a;
	background-color: #242424;
	font-weight: normal;
}
*/
/* Toolbar ************************************/
.toolbarLeft {
	
	width: 230px;
	height: 100%;
	/*float: left;*/
	position: fixed;
	overflow-y: auto;
	overflow-x: hidden;
	background-image: url('../images/toolbar_stripe.png');
	background-repeat: both;
	background: #242424;

	border-right: 1px solid white;
	color: white;
	height: 100%;
	/*overflow:scroll;*/
/*	-webkit-box-shadow: 6px 0px 13px 0px rgba(50, 50, 50, 0.25);
	-moz-box-shadow:    6px 0px 13px 0px rgba(50, 50, 50, 0.25);
	box-shadow:         6px 0px 13px 0px rgba(50, 50, 50, 0.25);*/
}

.totalheight {
	height: 100%;
	position: relative;
}




.hidden {
	display: none;
/*	visibility: hidden;*/
}



.line {
	background: pink;
	width: 100%;
	height: 0px;
	border-top: 1px solid white;



-webkit-box-shadow: 0px 3px 2px 0px rgba(50, 50, 50, 1);
-moz-box-shadow:    0px 3px 2px 0px rgba(50, 50, 50, 1);
box-shadow:         0px 3px 2px 0px rgba(50, 50, 50, 1);
}

.toolbarLeft ul {
	font-size: 12px;

	list-style-type: none;
}

.toolbarLeft ul li {

	border-top: 1px;
	border-bottom: 1px solid #494949;;
	padding: 6px 0 6px 12px;
	margin-bottom: 1px;
	font-weight: bold;



}

.toolbarLeft ul li ul li {

	/*border-top: 1px;*/
	/*border-bottom: 1px solid #494949;;*/
	border-bottom: 1px solid #494949;;
	padding: 6px 20px 6px 20px;
	margin-bottom: 1px;
	font-weight: bold;
	font-style: italic;

}

.toolbarLeft ul li ul li:last-child {
	border: 0;
	padding-bottom: 0px;
}


.toolbarLeft ul li:hover {
	background-color: #eeeeee;
	color: black;
}

.toolbarLeft h4 {
	padding: 10px 0 0px 12px;
	color: #aecd00;


}

.toolbarLeft h4:not(:first-child) {
	padding: 10px 0 10px 12px;
	color: #aecd00;



}

.toolbarLeft ul li i {
	padding-right: 5px;
}

.toolbarLeft > ul > li:last-child {
	border-bottom: 1px solid white;
}


.disabled {
	text-decoration: line-through;
	color: #717171;
}



/**********************************************/

#search-results {
	vertical-align: top;
}
table.ResultsTable {
	border-collapse: collapse;
	width: 100%;
	margin: 0 auto;
	text-align: left;
}

table.ResultsTable td {
	background: #eaeaea;
	font-size: 12px;
	height: 50px;
	padding: 10px;
	vertical-align: top;
}

table.ResultsTable th {
	background: #3a3a3a;
	color: white;
	font-weight: bold;
	font-size: 14px;
	padding: 10px;
}

table.ResultsTable .TypeColumn {
	background: #eaeaea;
	/*border-left: 10px solid #60A917;*/
	font-size: 14px;
	text-align: left;
	/*padding: 0px;*/
	vertical-align: top;

}


table.ResultsTable .TypeColumn a {
	color: green;
	text-decoration: none;
	font-weight: bold;
}
table.ResultsTable tr {
	/*border-bottom: 2px solid white;*/
}

table.ResultsTable .progress {
	height: 100%;
	border: 0px solid gray;
	background: #60A917;
}

table.ResultsTable .RelevanceColumn {
	padding: 0px;
	width: 100px;
	display: none;
}

.showall {

	float: right;
	margin-right: 10px;
	font-size: 10px;
	border: 0px solid;

	padding: 3px;
}

.floatToRight {

	float: right;
	margin-right: 10px;

	border: 0px solid;
	padding: 3px;
}

.hideall {

	float: left;
	margin-left: 10px;
	font-size: 10px;
	border: 0px solid;

	padding: 3px;
}

.hideall:hover {
	background-color: #eeeeee;
	color: black;
	border-radius: 3px;
}

.showall:hover {
	background-color: #eeeeee;
	color: black;
	border-radius: 3px;
}

.toolbarLeft .label {
	font-size: 10px;
	margin: 0;
	padding: 0;

}

.toolbarLeft .largelabel {
	font-size: 28px;
	margin: 0;
	padding: 0;

}


table.ResultsTable ul {
	/*display: inline;*/
	list-style-type: none;

}

.centerwrapper {
	width: 100%;
	text-align: center;
	padding-bottom: 20px;

}



.searchBg {
	/*background-color: #6d6d6d;*/
	background-color: #242424;
	color: white;
	border-bottom: 1px solid white;
}

.rightwrapper {
	width: 100%;
	text-align: right;
}

.floatright {
	float: right;
	padding: 1px 0px 0 0;

}

/*.menutitle h4 {
	float: left;
	color: #aecd00;
	padding: 0 0 10px 12px;
}*/

.clear {
	clear:both;
}


.miniinput { 
/*	margin-top: 10px;*/
	/*padding: 5px;*/
    background: white; 
    border: 1px double #DDD; 
    border-radius: 5px; 
    box-shadow: 0 0 5px #333; 
    color: #666; 
    outline: none; 
    height:25px; 
    width: 175px; 
    font-size: 16px;
    margin-top: 10px;
    padding: 5px;
  } 

/*


table.ResultsTable ul li:after { content: ","; }

table.ResultsTable ul li:last-child:after { content: ""; }*/
/**********************************************/

.searchContainer {
	background-image: url('../images/pattern-1.jpg');
	background-repeat: repeat;
	border: 1px solid #9a9a9a;
	border-radius: 10px;
	width: 500px;
	padding: 20px;
	margin: 0 auto;
}

.input { 
/*	margin-top: 10px;*/
	/*padding: 5px;*/
    background: white; 
    border: 1px double #DDD; 
    border-radius: 5px; 
    box-shadow: 0 0 5px #333; 
    color: #666; 
    outline: none; 
    height:25px; 
    width: 350px; 
    font-size: 16px;
    margin-top: 10px;
  } 

/* Download Button (Demo Only) */
.download {
	display: block;
	position: absolute;
	float: right;
	right: 25px;
	bottom: 25px;
	padding: 5px;
	
	font-weight: bold;
	font-size: 11px;
	text-align: right;
	text-decoration: none;
	color: rgba(0,0,0,0.5);
	text-shadow: 1px 1px 0 rgba(256,256,256,0.5);
}

.download:hover {
	color: rgba(0,0,0,0.75);
	text-shadow: 1px 1px 0 rgba(256,256,256,0.5);
}

.download:focus {
	bottom: 24px;
}

/*
.gradient {
	width: 600px;
	height: 600px;
	position: fixed;
	left: 50%;
	top: 50%;
	margin-left: -300px;
	margin-top: -300px;
	
	background: url(http://www.demo.amitjakhu.com/login-form/images/gradient.png) no-repeat;
}
*/

.gradient {
	/* Center Positioning */
	width: 600px;
	height: 600px;
	position: fixed;
	left: 50%;
	top: 50%;
	margin-left: -300px;
	margin-top: -300px;
	z-index: -2;
	
	

}

/*******************
LOGIN FORM
*******************/

.login-form {
	width: 100%;
	margin: 0 auto;
	position: relative;
	
	background: #f3f3f3;
	border: 1px solid #fff;
	border-radius: 5px;
	
	box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
}

.results-form {
	width: 100%;
	margin: 0 auto;
	position: relative;
	
	background: #f3f3f3;
	background: white;
	border: 1px solid #fff;
	border-radius: 5px;
	
	box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
}

/*******************
HEADER
*******************/

.login-form .header {
	padding: 5px 5px 5px 5px;
	text-align: center;
}

.login-form .header h1 {
	font-family: 'Bree Serif', serif;
	font-weight: 300;
	font-size: 28px;
	line-height:34px;
	color: #414848;
	text-shadow: 1px 1px 0 rgba(256,256,256,1.0);
	margin-bottom: 10px;
}

.login-form .header span {
	font-size: 11px;
	line-height: 16px;
	color: #678889;
	text-shadow: 1px 1px 0 rgba(256,256,256,1.0);
}

.results {
	width: 100%;
	border-collapse: collapse;
	padding: 10px;

}

.results table, th, td {
	border: 1px solid #c8c8c8;
}

.results th {
	background-color: #d4dedf;
	text-align: center;
	padding: 5px;
}
/*******************
CONTENT
*******************/

.login-form .content {
	padding: 10px 30px 25px 30px;
	text-align: center;
}

.results-form .content {
	padding: 20px 30px 25px 30px;
	text-align: center;
}




/* Second input field */
.login-form .content .password, .login-form .content .pass-icon {
	margin-top: 25px;
}

.login-form .content .input:hover {
	background: #dfe9ec;
	color: #414848;
}

.login-form .content .input:focus {
	background: #dfe9ec;
	color: #414848;
	
	box-shadow: inset 0 1px 2px rgba(0,0,0,0.25);
	-moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.25);
	-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.25);
}

.user-icon, .pass-icon {
	width: 46px;
	height: 47px;
	display: block;
	position: absolute;
	left: 0px;
	padding-right: 2px;
	z-index: -1;
	
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-bottomleft: 5px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
}

.user-icon {
	top:153px; /* Positioning fix for slide-in, got lazy to think up of simpler method. */
	background: rgba(65,72,72,0.75) url(http://www.demo.amitjakhu.com/login-form/images/user-icon.png) no-repeat center;	
}

.pass-icon {
	top:201px;
	background: rgba(65,72,72,0.75) url(http://www.demo.amitjakhu.com/login-form/images/pass-icon.png) no-repeat center;
}

.content input:focus + div{
	left: -46px;
}

/* Animation */
.input, .user-icon, .pass-icon, .button, .register {
	transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
}

/*******************
FOOTER
*******************/

.login-form .footer {
	padding: 5px 5px 5px 5px;
	overflow: auto;
	
	background: #d4dedf;
	border-top: 1px solid #fff;
	
	box-shadow: inset 0 1px 0 rgba(0,0,0,0.15);
	-moz-box-shadow: inset 0 1px 0 rgba(0,0,0,0.15);
	-webkit-box-shadow: inset 0 1px 0 rgba(0,0,0,0.15);
}

/* Login button */
.login-form .footer .button {
	float:right;
	padding: 11px 25px;
	
	font-family: 'Bree Serif', serif;
	font-weight: 300;
	font-size: 18px;
	color: #fff;
	text-shadow: 0px 1px 0 rgba(0,0,0,0.25);
	
	background: #56c2e1;
	border: 1px solid #46b3d3;
	border-radius: 5px;
	cursor: pointer;
	
	box-shadow: inset 0 0 2px rgba(256,256,256,0.75);
	-moz-box-shadow: inset 0 0 2px rgba(256,256,256,0.75);
	-webkit-box-shadow: inset 0 0 2px rgba(256,256,256,0.75);
}

.login-form .footer .button:hover {
	background: #3f9db8;
	border: 1px solid rgba(256,256,256,0.75);
	
	box-shadow: inset 0 1px 3px rgba(0,0,0,0.5);
	-moz-box-shadow: inset 0 1px 3px rgba(0,0,0,0.5);
	-webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,0.5);
}

.login-form .footer .button:focus {
	position: relative;
	bottom: -1px;
	
	background: #56c2e1;
	
	box-shadow: inset 0 1px 6px rgba(256,256,256,0.75);
	-moz-box-shadow: inset 0 1px 6px rgba(256,256,256,0.75);
	-webkit-box-shadow: inset 0 1px 6px rgba(256,256,256,0.75);
}

/* Register button */
.login-form .footer .register {
	display: block;
	float: right;
	padding: 10px;
	margin-right: 20px;
	
	background: none;
	border: none;
	cursor: pointer;
	
	font-family: 'Bree Serif', serif;
	font-weight: 300;
	font-size: 18px;
	color: #414848;
	text-shadow: 0px 1px 0 rgba(256,256,256,0.5);
}

.login-form .footer .register:hover {
	color: #3f9db8;
}

.login-form .footer .register:focus {
	position: relative;
	bottom: -1px;
}


.loading3{
	background-color:#338BC7;
	width:270px;
	height:150px;
	position:relative;
	
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
}