@font-face {
    font-family: 'Actor';
    font-style: normal;
    font-weight: 400;
    src: local('Actor Regular'), local('Actor-Regular'),
    url(http://themes.googleusercontent.com/static/fonts/actor/v3/gZ8EM_Gzaq4WRjCimioyzQ.woff) format('woff');
}