<app>
    <div class="box">
        <h2>ElasticSearch</h2>
        <p>An example app searching a backend service.</p>
        <breadcrumbs/>
        <search/>
        <notification/>
        <results/>
    </div>
</app>