<div class="row collapse">
    <div class="large-10 columns">
        <input type="text" placeholder="Query..." value="{{ query.value }}">
    </div>
    <div class="large-2 columns">
        <a class="button postfix">Search</a>
    </div>
</div>