h2
    font-size: 20px
    display: inline-block
    margin: 0

table
    width: 100%

a
    cursor: pointer

.help, .help-flyout
    cursor: pointer
    position: relative

    &:before
        content: "?"
        width: 14px
        height: 14px
        font-size: 12px
        font-weight: bold
        line-height: 14px
        text-align: center
        color: #fff
        background: rgb(43, 166, 203)
        // border-radius: 50%
        display: inline-block
    
    .tooltip
        display: block
        font-size: 12px !important
        white-space: nowrap
        top: -30px
        left: -2px

    .flyout
        color: #333
        font-weight: normal
        top: -20px
        left: 20px

.section
    padding: 10px

    &:nth-child(even)
        border: 1px solid #e6e6e6
        border-width: 1px 0

    header
        margin-bottom: 10px
        vertical-align: middle
        line-height: 37px

        .button
            margin-left: 10px
            float: right

.header
    header
        table
            width: auto
            border: 0

            tr
                background: #FFF

                &:nth-child(1)
                    font-weight: bold

                td
                    padding: 0
                    font-size: 20px

                    &:nth-child(1)
                        text-align: right

                    &:nth-child(2)
                        padding-left: 5px
                        text-align: left

.summary
    dl.tabs
        dd
            a
                text-transform: capitalize

    ul.pagination
        text-align: center

        li
            display: inline-block
            float: none

ul.inline
    list-style: none
    padding: 0

    li
        display: inline-block

        &:not(:last-child):after
            content: ", "