@import 'nib'

body
    background: darken(#FFF, 5%)

.box
    padding: 20px
    width: 800px
    margin: 0 auto
    margin-top: 20px
    margin-bottom: 20px
    background: #FFF

table
    width: 100%

    tr:hover
        background: rgba(yellow, 0.25)
        cursor: pointer